<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="./assets/css/styles.css"/>
  <script src="./assets/libs/jsonTree/json-tree.js"></script>
  <link rel="stylesheet" href="./assets/libs/jsonTree/style.css"/>
</head>

<body>

<div id="wrapper"></div>

<script>
  var wrapper = document.getElementById("wrapper");
  var jData = JSON.stringify(<%- JSON.stringify(scheme) %>);
  var data = JSON.parse(jData);

  var tree = jsonTree.create(data, wrapper);
</script>
</body>
</html>